data/*
src/*.pyc
*.pyc
src/__pycache__/
*/__pycache__/*
test_data/*
Config.toml
.idea/*
*.iml
docs/html
docs/latex
/venv/
dist/
build/
*.log
*.gz
*.toc
*.synctex
*.aux
*.pdf
build/*
dist/*
/binaries/Linux/bin/*
/binaries/Mac OSX/bin/*
/binaries/Windows/bin/*
/venv/*